ul{
    list-style-type: none;
}

.Weather {
  margin: 50px;
  padding: 30px;
  border: 1px solid #000;
  border-radius: 5px;
}

.Weather .overview {
  margin-bottom: 50px;
}

.Weather .weather-temperature img {
  height: 64px;
  width: 64px;
}

.Weather .weather-temperature strong {
  color: #fff;
  font-size: 44px;
  line-height: 1;
  font-weight: 400;
}

.Weather .weather-temperature .units {
  position: relative;
  font-size: 12px;
  top: -24px;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}

.Weather .weather-forecast h3{
  color: #000;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.Weather .weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

.Weather .weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 10px;
  font-weight: 600;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}